/** @format */

*,
*::before,
*::after {
    font-family: "Roboto", monospace;
}

html body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline-style: none;
    outline: none;
}

body {
    background-image: url("./images/space.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
}

.nav {
    margin-top: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(230, 230, 234, 0.7);
}

.remove-element {
    display: none;
}

.form-box {
    background-color: silver;
    border-radius: 5%;
    max-width: 250px;
    min-width: 250px;
    margin: 25% auto;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#title-form {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#author-form {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#pages-form {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#read-form {
    text-align: center;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    max-width: 150px;
    padding: 8px;
}

.form-text {
    text-align: center;
}

.form-btn {
    background-color: rgba(75, 29, 63, 0.9);
    color: #e6e6ea;
    font-size: 1rem;
    padding: 20px;
    border-radius: 500px;
    margin-top: 5px;
}

.form-btn:hover {
    transform: scale(1.01);
    background-color: rgba(75, 29, 63, 0.8);
}

.form-rmBtn {
    background-color: rgba(191, 6, 3, 0.9);
    color: #e6e6ea;
    font-size: 1rem;
    padding: 20px;
    border-radius: 500px;
    margin-top: 10px;
}

.form-rmBtn:hover {
    background-color: rgba(255, 0, 0, 0.8);
    transform: scale(1.01);
}

#book-collection {
    background-color: rgba(230, 230, 234, 0.1);
    height: 84vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    text-shadow: -0.5px -0.5px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#book-collection>p {
    text-align: center;
    max-height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #e6e6ea;
    font-size: 1.3rem;
}

#book-collection>.books {
    color: #e6e6ea;
    margin: 20px;
    min-width: 240px;
    max-width: 240px;
    min-height: 280px;
    max-height: 280px;
    background: linear-gradient( to top, rgba(75, 29, 63, 0.6), rgba(23, 190, 187, 0.5));
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 4px 4px rgba(90, 87, 102, 0.5), -4px -4px rgba(90, 87, 102, 0.5);
    text-align: center;
    font-size: 1.1rem;
}

#book-collection>.books:hover {
    transform: scale(1.05);
    background: linear-gradient( to top, rgba(75, 29, 63, 0.7), rgba(23, 190, 187, 0.6));
}

#book-collection>.books>.title {
    text-align: center;
    font-size: 1.5rem;
}

.rmBtn-list {
    background-color: rgba(255, 0, 0, 0.8);
    margin-top: 8px;
    outline: none;
    border-radius: 500px;
    padding: 5px;
    color: #e6e6ea;
}

.rmBtn-list:hover {
    background-color: rgba(255, 0, 0, 0.9);
    transform: scale(1.01);
}

.status-btn {
    background-color: rgba(0, 255, 0, 0.8);
    padding: 5px;
    border-radius: 500px;
}

.status-btn:hover {
    background-color: rgba(0, 255, 0, 0.9);
    transform: (scale(1.01));
}

.btnDiv {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    margin: 10px auto;
}

#book-collection>.add-button {
    display: flex;
    margin: 20px;
    margin-top: 80px;
    cursor: pointer;
    outline: none;
    background-color: rgba(191, 6, 3, 0.9);
    color: white;
    font-size: 3rem;
    min-height: 140px;
    min-width: 240px;
    max-height: 140px;
    max-width: 240px;
    border-radius: 500px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#book-collection>.add-button:hover {
    transform: scale(1.05);
    background-color: rgba(191, 6, 3, 0.8);
}

#popup {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}